<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Imei:</strong>
  <%= @product.imei %>
</p>

<p>
  <strong>Serie:</strong>
  <%= @product.serie %>
</p>

<p>
  <strong>Fecha de ingreso:</strong>
  <%= @product.fecha_de_ingreso %>
</p>

<p>
  <strong>Compra:</strong>
  <%= @product.compra %>
</p>

<p>
  <strong>Utilidad:</strong>
  <%= @product.utilidad %>
</p>

<p>
  <strong>Venta:</strong>
  <%= @product.venta %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
