<div class='row'>
  <%= form_for(credit_application) do |f| %>
    <div class='row'>
      <% if credit_application.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(credit_application.errors.count, "error") %> prohibited this credit_application from being saved:</h2>

          <ul>
          <% credit_application.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    </div>

    <div class='row'>
      <div class='col s6'>
        <div class='field'>
          <%= f.select :business_partner_id,
            BusinessPartner.all.collect {|b| [ b.display_name, b.id ]},
            { include_blank: '--- Socio de Negocios ---'}
          %>
        </div>
        <div class="field">
          <%= f.select :credit_type_id,
            CreditType.all.collect {|c| [c.display_name, c.id ]},
            { include_blank: '--- Tipo de Crédito ---'}
          %>
        </div>
        <div class="field">
          <%= f.select :coin_id,
            Coin.all.collect {|c| [ c.display_name, c.id]},
            { include_blank: '--- Tipo de Moneda ---'}
          %>
        </div>
        <div class="field">
          <%= f.label :monto %>
          <%= f.number_field :monto %>
        </div>
      </div>

      <div class='col s6'>
        <div class="field">
          <%= f.label :fecha %>
          <%= f.text_field :fecha, class: 'datepicker' %>
        </div>

        <div class="field">
          <%= f.label :fecha_de_vencimiento %>
          <%= f.text_field :fecha_de_vencimiento, class: 'datepicker' %>
        </div>
        <div class="field">
          <%= f.label :nota %>
          <%= f.text_area :nota %>
        </div>
      </div>
    </div>
  <div class="field">
    <%= f.label :payment_frequency_id %>
    <%= f.text_field :payment_frequency_id %>
  </div>

  <div class="field">
    <%= f.label :payment_number %>
    <%= f.number_field :payment_number %>
  </div>

  <div class="field">
    <%= f.label :statu_id %>
    <%= f.text_field :statu_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
