<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @coin.descripcion %>
</p>

<p>
  <strong>Simbolo:</strong>
  <%= @coin.simbolo %>
</p>

<%= link_to 'Edit', edit_coin_path(@coin) %> |
<%= link_to 'Back', coins_path %>
